<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page </title>
</head>
<body>

    <h1><%=1+2 %></h1>
   <h1> <%= "aary".toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, voluptatem! Fugit quas beatae ratione, eaque totam tempora, odit quasi blanditiis, hic quam harum ullam quisquam! Suscipit quasi odit ipsa iure unde sunt hic velit cum ipsum porro mollitia nemo, itaque eos sint ullam quia quae. Quo odit tempora commodi cumque laudantium culpa, inventore eius id natus deleniti pariatur? Sunt quos, itaque odio accusamus illum pariatur, suscipit quae blanditiis corporis facilis aliquam repellendus veniam totam eligendi officiis quam eum ea odit delectus ex ratione. Aperiam mollitia repellat ipsum sint excepturi.</p>
</body>
</html>