<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit User</h1>


    <form method="post" action="/user/<%=values.id%>?_method=patch">

   Name : <input type="text" value="<%=values.username%>" name="username"/>
    
   Email : <input type="email" value="<%=values.email%>"/>

<input type="password" name="password" placeholder="enter your password"/>
<button>Edit</button>

    </form>

</body>
</html>